 body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: whitesmoke;
      margin: 0;
      padding: 10px;
      text-align: center;
    }
    .container {
      max-width: 700px;
      margin: auto;
      background: #e0e2e4;
      padding: 80px;
      border-radius: 12px;
      box-shadow: 0 0 10px #96897f;
    }
    form {
      margin-bottom: 20px;
    }
    input, button {
      padding: 10px;
      margin: 5px;
      font-size: 16px;
    }
    #countdownList {
      list-style: none;
      padding: 0;
      margin-bottom: 20px;
    }
    #countdownList li {
      padding: 10px;
      background: #96897f;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
    }
    #countdownList li.active {
      background: #96897f;
      color: c#624750;
    }
    #countdownList button {
      background: transparent;
      border: none;
      font-size: 18px;
      cursor: pointer;
      margin-left: 5px;
    }
    .flip-container {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      margin-bottom: 20px;
    }
    .time {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      border-radius: 12px;
      padding: 15px 10px;
      width: 80px;
      color: white;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    .time::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40%;
      width: 100%;
      background: white;
      border-radius: 0 0 12px 12px;
      z-index: 0;
    }
    .time span {
      font-size: 30px;
      font-weight: bold;
      position: relative;
      z-index: 1;
      color: black;
    }
    .time label {
      font-size: 14px;
      position: relative;
      z-index: 1;
      color: #333;
    }

    /* Modal styles */
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(3px);
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    .modal-box {
      background-color: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      text-align: center;
      font-weight: bold;
      color: #333;
    }

    .modal-box span {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .modal-box button {
      background-color:#624750;
      color: white;
      border: none;
      padding: 8px 14px;
      border-radius: 5px;
      font-size: 14px;
      margin: 0 5px;
      cursor: pointer;
    }

    .modal-box button:hover {
      background-color:#624750;
    }

    .modal-box button:last-child {
      background-color: #888;
    }

    .modal-box button:last-child:hover {
      background-color: #555;
    }
